@use '../globals/config' as *;


  .header {
    @include flexbox($justify-content: space-between, $flex-flow: row wrap);
    font-size: var(--fs-600);
    font-weight: var(--fw-900);
    letter-spacing: var(--ls-m);
    background-color: var(--clr-bg-neutral-light);
    padding: var(--space-l);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);
  

    &__button {
      @include flexbox($align-items: center, $gap: var(--space-s));
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
    }
}